{
  "env": {
    "node": true,
    "es6": true,
    "jest": true
  },
  "globals": {
    "document": false,
    "root": false,
    "window": false
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:prettier/recommended",
    "prettier"
  ],
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 8,
    "requireConfigFile": false,
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "plugins": ["prettier", "react", "react-hooks"],
  "rules": {
    "react/react-in-jsx-scope": "off",
    "prettier/prettier": ["warn"],
    "react/display-name": "off",
    "react/prop-types": "off",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "off",
    "camelcase": "off",
    "curly": "off",
    "default-case": "error",
    "dot-notation": "error",
    "guard-for-in": "error",
    "indent": "off",
    "no-bitwise": "error",
    "no-caller": "error",
    "no-eval": "error",
    "no-new-wrappers": "error",
    "no-shadow": "off",
    "no-var": "error",
    "radix": "error"
  },
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/resolver": {
      "node": {
        "paths": ["src"]
      }
    }
  }
}
